select {
  height: 30px;
  width: 120px;
  margin: 10px;
}

/* class */
.inner-container {
  padding: 0% 10%;
}

.sent-proposal-list-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 15px;
  border: 1px solid #adadad;
  border-radius: 5px;
  margin-top: 20px;
}

.sent-proposal-list-item-left {
  position: relative;
  width: 150px;
  height: 100px;
}


.sent-proposal-list-item-left>img {
  width: 100%;
  height: 100%;
}

.sent-proposal-list-item-left>span {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  font-size: 10px;
}

.sent-proposal-list-item-middle {
  width: 100%;
  padding: 20px 20px;
  flex: 2;
}




.sent-proposal-list-item-middle-2 {
  font-size: 15px;
  margin-top: 10px;
}

.recieved-proposal-list-item-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recieved-proposal-list-item-right>div>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sent-proposal-list-item-right-proposal-status {
  width: 90%;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 15px;
}

.project-shortcut {
  font-size: 12px;
  margin-bottom: 5px;
  color: #adadad;
  cursor: pointer;
}

.sent-proposal-list-item-right-proposal-status {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* class */
.recieved-proposal-list-item-left>img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.recieved-proposal-list-item-middle {
  display: flex;
  /* Flex 컨테이너로 설정 */
  flex-direction: column;
  /* 세로로 배치 */
  justify-content: center;
  /* 주축(수직)에서 중앙 정렬 */
  margin-left: 20px;
}

.recieved-proposal-list-item-middle-1 {
  display: flex;
}

.recieved-proposal-list-item-right {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.recieved-proposal-list-item-right-proposal-status {
  height: 50px;
  border-radius: 15px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.recieved-proposal-list-item-middle-2 {
  font-size: 20px;
  color: #3e9ce4;
  font-weight: bold;
}

.recieved-proposal-list-item-middle-3 {
  font-size: 12px;
  font-weight: bold;
}

.ask {
  margin-top: 10px;
  font-size: 15px;
  text-decoration: underline;
  /* 밑줄 스타일 적용 */
}


/* id */
#expert-nickname {
  font-size: 15px;
}

#expert-grade {
  background-color: #e5e5e5;
  color: #808080;
  font-size: 12px;
  border-radius: 5px;
}