  /* class */
  .inner-container {
    padding: 0% 10%;
}

.inner-container-header-description {
    font-size: 18px;
    color: #adadad;
    display: flex;
    justify-content: center;
}

.inner-container-body {
    margin: 30px 5%;
}

.inner-container-body-service {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.middle-service-number {
    font-size: 15px;
}

.middle-service-rating {
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}


.left {
    flex: 0.5;
    /* .left 요소가 가능한한 많은 공간을 차지하도록 설정합니다. */
}

.middle {
    padding: 0px 5px;
    flex: 2;
    /* .middle 요소가 .left보다 두 배 크기를 차지하도록 설정합니다. */
    display: flex;
    flex-direction: column;
    /* 이 부분이 가로 또는 세로 방향을 결정합니다. */
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    /* 아이템들을 세로로 배치 */
    justify-content: center;
    /* 세로 중앙 정렬 */
    color: #adadad;
}

#service-add-btn {
    margin-top: 30px;
    width: 100%;
    height: 50px;
}