/* class */
.everyai {
    color: #3e9ce4;
}
.login {
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-login>button {
    height: 50px;
    width: 100%;
    margin-top: 10px;
}

.input-item {
    margin-top: 20px;
}

.input-item>label {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.input-item>input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #adadad;
    margin-top: 6%;
}

.input-item>input:focus {
    border-color: #3e9ce4;
    outline: none;
}

.herf {
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
}

.herf > a {
    font-size: 10px;
}

.login-button {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #3e9ce4;
    color: #fff;
}