input {
    height: 50px;
    width: 100%;
}

/* class */
.join-container:not(.no-container) {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    max-width: 768px;
    margin: 0 auto;
}

.blue {
    color: #3e9ce4;
}

.subtitle {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.subtitle-info {
    margin-top: 10px;
    font-size: 15px;
    color: #adadad;
}

.password {
    font-weight: bolder;
    font-size: 18px;
    margin-top: 50px;
}

.password > div {
    margin: 10px 0px 20px 0px;
}

.star {
    color: red;
}

.email-send, .email-check {
    display: flex;
}

.email-check-button, .email-send-button {
    width: 95px;
}

.change-button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
}