.main-inner-box {
    width: 100%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    /* 가로 가운데 정렬 */
}

.main-inner-center-box{
    display: flex;
    justify-content: center;
}

.main-inner-center-box {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-category-box {
    width: 500px;
    height: 200px;
    display: grid;
    justify-content: center;
    /*가로 가운데 정렬 */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10%;
    row-gap: 5%;
}


.main-category {
    /* display: grid;
    grid-template-rows: 80% 20%;
    border-radius: 10px;
    gap: 50px; */
    padding: 10px;
}

.main-category-img {
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}

.main-category-name {
    text-align: center;
    font-size: 10px;
}

.banner-slider-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}
.banner-slider_img{           /* 이미지 보이는 영역 */
    overflow: hidden;
}
.banner-slider_inner{         /* 이미지를 감싸고 있는 부모 : 움직이는 부분 */
    display: flex;
    width: 100%;   
    /* 4000px --> 4800px  : 총이미지가 6개로 변경*/
}
.banner-slider {               
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-service-box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    /* 가로 가운데 정렬 */
}

.main-inner-service-box {
    width: 700px;
    height: 300px;
}

.main-inner-service-recommand-box {
    display: flex;
}

.main-how-recommand {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.main-ai-recommand {
    margin-left: 15px;
    align-items: center;
}

.ai-recommand-button {
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: #3e9ce4;
    color: white;
}

.main-inner-service {
    width: 95%;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.main-recommand-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-recommand {
    display: grid;
    grid-template-rows: 80% 20%;
    column-gap: 5px;
}

.main-recommand-img {
    width: 100%;
    height: 100%;
}

.main-recommand-name {
    font-size: 15px;
    text-align: center;
}
/* 슬랙 */
.slick-slide {
    padding: 30px 100px 0 100px;
}