input {
    height: 50px;
    width: 100%;
}

/* class */

.blue {
    color: #3e9ce4;
}

.subtitle {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.subtitle-info {
    margin-top: 10px;
    font-size: 15px;
    color: #adadad;
}

.email {
    font-weight: bolder;
    font-size: 18px;
    margin-top: 50px;
}

.email > div {
    margin: 10px 0px 20px 0px;
}

.star {
    color: red;
}

.email-send, .email-check {
    display: flex;
}

.email-check-button, .email-send-button {
    width: 95px;
}

.check-button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
}