.join-container:not(.no-container) {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    max-width: 768px;
    margin: 0 auto;
}

.join-success-text {
    margin: 30px 0px;
}

.join-success-text > p{
    margin: 10px 0px;
}

.nickname{
    color: #3e9ce4;
    font-weight: bold;
    margin-top: 50px;
}

.success-text {
    font-size: 25px;
}

.success-nickname-text{ 
    font-size: 22px;
}

.go-main {
    width: 100%;
    height: 50px;
    margin-top: 30px;
}