button {
  height: 30px;
}



/* class */
.font-12 {
  font-size: 12px;
}

.font-15 {
  font-size: 15px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
  font-weight: bold;
}

.font-25 {
  font-size: 25px;
  font-weight: bold;
}

.font-blue {
  color: #3e9ce4;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title>div>button {
  width: 100px;
}


.all-price {
  display: flex;
  justify-content: space-between;
}

.amount-payment {
  margin-top: 30px;
  border: 1px solid #adadad;
  border-radius: 5px;
  height: 120px;
  padding: 15px;
}

.amount-payment>div {
  padding: 10px;
}

.profile-img>img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.purchased-product {
  background-color: #f2f2f2;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.purchased-product-proceeding {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.proceeding {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.arrival-of-work {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.arrival-of-work-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.profile-img {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
}

.profile-img-text {
  display: flex;
  align-items: center;
}

.arrival-of-work-message-center {
  display: flex;
  justify-content: center;
}

.arrival-of-work-message {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 90%;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.arrival-of-work-file-center {
  display: flex;
  justify-content: center;
}


.arrival-of-work-file {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #adadad;
  width: 90%;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.proceeding>div {
  margin-bottom: 5px;
}

/* id */
#payment-order-title {
  padding: 10px;
}

#payment-company>button {
  width: 80px;
  margin-left: 10px;
}

.proceeding>input {
  width: 100%;
  height: 200px;
  border: 1px solid #adadad;
  border-radius: 5px;
}